.help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 80% 1;
  overflow: auto;
  max-height: 100vh;
  justify-content: flex-start;
}

.help::-webkit-scrollbar {
  display: none;
}

.helphead {
  display: flex;
  text-align: start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 40px;
}

.helphead h1 {
  font-size: 30px;
  padding-top: 20px;
  color: var(--text-primary);
  font-family: Lexend, sans-serif;
}

.helphead p {
  color: #5c5c5c;
  padding-top: 20px;
  font-size: 20px;
}

.help-second {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 20px;
}
.help-second h1 {
  justify-self: flex-start;
  color: #3e5dff;
  padding-bottom: 20px;
}
.ant-collapse-item {
  width: 1000px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-collapse {
  border: 0px;
}

.faq_bottom svg {
  color: #ffffff;
}

.ant-collapse > .ant-collapse-item:last-child {
  border-radius: 0 0 8px 8px;
  background-color: #181a1f;
  border: 1px solid #696969;
}

.faq_bottom span {
  font-family: Lexend, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

.ant-collapse-content-box {
  background-color: #181a1f;
  border: 1px solid #696969;
  border-radius: 0 0 8px 8px;
}

.faq_bottom p {
  font-family: Lexend, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #5c5c5c;
  text-align: justify;
}
